# Pandas Exercise

We have a data about spotify top 100 songs in 2018 from kaggle.

Data Description :

*   Spotify URI for the song
*   Name of the song
*   Artist(s) of the song
*   Audio features for the song (such as danceability, tempo, key etc.) : 
     1. danceability : Danceability describes how suitable a track is for dancing based on a combination of musical elements including tempo, rhythm stability, beat strength, and overall regularity. A value of 0.0 is least danceable and 1.0 is most danceable.
     
     2. tempo : The overall estimated tempo of a track in beats per minute (BPM). In musical terminology, tempo is the speed or pace of a given piece and derives directly from the average beat duration.
     
     3. duration_ms : The duration of the track in milliseconds.

In [2]:
import pandas as pd
import numpy as np

In [53]:
data = pd.read_csv('02. top2018.csv')

In [55]:
data.head()

,id,name,artists,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,duration_ms,time_signature
0,6DCZcSspjsKoFjzjrWoCd,God's Plan,Drake,0.754,0.449,7,-9.211,1,0.1090,0.0332,0.000083,0.552,0.357,77.169,198973,4
1,3ee8Jmje8o58CHK66QrVC,SAD!,XXXTENTACION,0.740,0.613,8,-4.880,1,0.1450,0.2580,0.003720,0.123,0.473,75.023,166606,4
2,0e7ipj03S05BNilyu5bRz,rockstar (feat. 21 Savage),Post Malone,0.587,0.535,5,-6.090,0,0.0898,0.1170,0.000066,0.131,0.140,159.847,218147,4
3,3swc6WTsr7rl9DqQKQA55,Psycho (feat. Ty Dolla $ign),Post Malone,0.739,0.559,8,-8.011,1,0.1170,0.5800,0.000000,0.112,0.439,140.124,221440,4
4,2G7V7zsVDxg1yRsu7Ew9R,In My Feelings,Drake,0.835,0.626,1,-5.833,1,0.1250,0.0589,0.000060,0.396,0.350,91.030,217925,4

## 1. Show Top 10 artists with the largest presence in the top 100 spotify songs in 2018

In [65]:
data.groupby(['artists'])['artists'].count().reset_index(name='Freq').sort_values('Freq', ascending=False).head(10)

            artists  Frequency
52      Post Malone          6
65     XXXTENTACION          6
21            Drake          4
24       Ed Sheeran          3
42       Marshmello          3
22         Dua Lipa          2
28  Imagine Dragons          2
49            Ozuna          2
57     Selena Gomez          2
14     Clean Bandit          2

## 2. What is the longest duration of the top 100 spotify songs in 2018 ?

In [40]:
data.groupby('origin').max()['duration_ms'].reset_index(name='duration_ms_max')

21    417920
Name: duration_ms, dtype: int64

## 3. Who and what songs has the longest duration of the top 100 spotify songs in 2018 ?

In [39]:
data.sort_values("duration_ms",ascending=False).head(1)[["name","artists"]]

               name     artists
21  Te Bot? - Remix  Nio Garcia

## 4. Show the total duration from the artists in the top 100 spotify songs in 2018 !

In [51]:
durationData = data.groupby('artists').sum()['duration_ms'].reset_index(name='duration_ms').sort_values('duration_ms',ascending=False)
durationData

              artists  duration_ms
52        Post Malone      1342027
21              Drake       866259
65       XXXTENTACION       784703
24         Ed Sheeran       756663
42         Marshmello       597734
..                ...          ...
51  Portugal. The Man       163253
38        Loud Luxury       163216
20       Dennis Lloyd       156600
35           Lil Baby       142273
5               Bazzi       131064

[70 rows x 2 columns]

## 5. Who artists has the average fastest tempo in the top 100 spotify song 2018 ?

In [48]:
tempoData = data.groupby('artists').mean()['tempo'].reset_index(name='tempo').sort_values('tempo',ascending=False)
tempoData

              artists    tempo
40             Maluma  198.075
31       Keala Settle  191.702
46          Nicky Jam  180.073
66               ZAYN  180.043
50            Piso 21  170.019
..                ...      ...
69       benny blanco   89.391
26             G-Eazy   87.908
30         Juice WRLD   83.903
45      Natti Natasha   79.997
51  Portugal. The Man   79.028

[70 rows x 2 columns]

## 6. Who artists has the average danceable songs in the top 100 spotify song 2018 ?

In [49]:
danceabilityData = data.groupby('artists').mean()['danceability'].reset_index(name='danceability').sort_values('danceability',ascending=False)
danceabilityData

          artists  danceability
35       Lil Baby         0.964
1         6ix9ine         0.931
9      BlocBoy JB         0.922
64        Wolfine         0.909
47     Nio Garcia         0.903
..            ...           ...
15      DJ Khaled         0.552
30     Juice WRLD         0.511
8   Billie Eilish         0.351
31   Keala Settle         0.284
66           ZAYN         0.258

[70 rows x 2 columns]

## 7. Can we achieve the information from the last 3 exercise in just 1 line ?

In [52]:
pd.merge(pd.merge(durationData,tempoData,on='artists'),danceabilityData,on='artists')

              artists  duration_ms       tempo  danceability
0         Post Malone      1342027  148.686500      0.643667
1               Drake       866259  104.144000      0.771750
2        XXXTENTACION       784703  110.496000      0.788833
3          Ed Sheeran       756663   95.339667      0.670333
4          Marshmello       597734  112.355000      0.611000
..                ...          ...         ...           ...
65  Portugal. The Man       163253   79.028000      0.801000
66        Loud Luxury       163216  121.958000      0.752000
67       Dennis Lloyd       156600   99.976000      0.592000
68           Lil Baby       142273  119.958000      0.964000
69              Bazzi       131064  142.929000      0.710000

[70 rows x 4 columns]