In [12]:
# Import pandas using the alias pd
import pandas as pd


# Print the head of the homelessness data
data = pd.read_csv('01. homelessness.csv')

# Print information about homelessness
print(data.info())

# Print the shape of homelessness
print(data.shape)

# Print a description of homelessness
print(data.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      51 non-null     int64
 1   region          51 non-null     object
 2   state           51 non-null     object
 3   individuals     51 non-null     int64
 4   family_members  51 non-null     int64
 5   state_pop       51 non-null     int64
dtypes: int64(4), object(2)
memory usage: 2.5+ KB
None
(51, 6)
       Unnamed: 0    individuals  family_members     state_pop
count   51.000000      51.000000       51.000000  5.100000e+01
mean    25.000000    7225.784314     3504.882353  6.405637e+06
std     14.866069   15991.025083     7805.411811  7.327258e+06
min      0.000000     434.000000       75.000000  5.776010e+05
25%     12.500000    1446.500000      592.000000  1.777414e+06
50%     25.000000    3082.000000     1482.000000  4.461153e+06
75%     37.500000    6781.500000     3196.000000  7.340946e+06
max     50.000000  109008.000000    52070.000000  3.946159e+07

In [16]:
# Print the values of homelessness
print(data.values)

# Print the column index of homelessness
print(data.columns)

# Print the row index of homelessness
# list(data.index.values)
print(data.index)

TypeError: 'numpy.ndarray' object is not callable

1. Sort homelessness by the number of homeless individuals, from smallest to largest, and save this as homelessness_ind.
2. Print the head of the sorted DataFrame.

In [15]:
# Sort homelessness by individual
homelessness_ind = data.sort_values('individuals')

# Print the top few rows
print(homelessness_ind.head())

    Unnamed: 0              region                 state  individuals  \
50          50            Mountain               Wyoming          434
34          34  West North Central          North Dakota          467
7            7      South Atlantic              Delaware          708
39          39         New England          Rhode Island          747
45          45         New England               Vermont          780
29          29         New England         New Hampshire          835
41          41  West North Central          South Dakota          836
26          26            Mountain               Montana          983
48          48      South Atlantic         West Virginia         1021
24          24  East South Central           Mississippi         1024
12          12            Mountain                 Idaho         1297
1            1             Pacific                Alaska         1434
16          16  West North Central                Kansas         1443
19          19         New England                 Maine         1450
15          15  West North Central                  Iowa         1711
27          27  West North Central              Nebraska         1745
44          44            Mountain                  Utah         1904
31          31            Mountain            New Mexico         1949
3            3  West South Central              Arkansas         2280
6            6         New England           Connecticut         2280
18          18  West South Central             Louisiana         2540
0            0  East South Central               Alabama         2570
17          17  East South Central              Kentucky         2735
49          49  East North Central             Wisconsin         2740
36          36  West South Central              Oklahoma         2823
40          40      South Atlantic        South Carolina         3082
8            8      South Atlantic  District of Columbia         3770
25          25  West North Central              Missouri         3776
14          14  East North Central               Indiana         3776
46          46      South Atlantic              Virginia         3928
23          23  West North Central             Minnesota         3993
11          11             Pacific                Hawaii         4131
20          20      South Atlantic              Maryland         4914
22          22  East North Central              Michigan         5209
30          30        Mid-Atlantic            New Jersey         6048
42          42  East South Central             Tennessee         6139
33          33      South Atlantic        North Carolina         6451
13          13  East North Central              Illinois         6752
21          21         New England         Massachusetts         6811
35          35  East North Central                  Ohio         6929
10          10      South Atlantic               Georgia         6943
28          28            Mountain                Nevada         7058
2            2            Mountain               Arizona         7259
5            5            Mountain              Colorado         7607
38          38        Mid-Atlantic          Pennsylvania         8163
37          37             Pacific                Oregon        11139
47          47             Pacific            Washington        16424
43          43  West South Central                 Texas        19199
9            9      South Atlantic               Florida        21443
32          32        Mid-Atlantic              New York        39827
4            4             Pacific            California       109008

    family_members  state_pop
50             205     577601
34              75     758080
7              374     965479
39             354    1058287
45             511     624358
29             615    1353465
41             323     878698
26             422    1060665
48             222    1804291
24             328    2981020
12             715    1750536
1              582     735139
16             773    2911359
19            1066    1339057
15            1038    3148618
27             676    1925614
44             972    3153550
31             602    2092741
3              432    3009733
6             1696    3571520
18             519    4659690
0              864    4887681
17             953    4461153
49            2167    5807406
36            1048    3940235
40             851    5084156
8             3134     701547
25            2107    6121623
14            1482    6695497
46            2047    8501286
23            3250    5606249
11            2399    1420593
20            2230    6035802
22            3142    9984072
30            3350    8886025
42            1744    6771631
33            2817   10381615
13            3891   12723071
21           13257    6882635
35            3320   11676341
10            2556   10511131
28             486    3027341
2             2606    7158024
5             3250    5691287
38            5349   12800922
37            3337    4181886
47            5880    7523869
43            6111   28628666
9             9587   21244317
32           52070   19530351
4            20964   39461588

In [19]:
data.drop(columns=['Unnamed: 0'], inplace=True)

                region                 state  individuals  family_members  \
0   East South Central               Alabama         2570             864
1              Pacific                Alaska         1434             582
2             Mountain               Arizona         7259            2606
3   West South Central              Arkansas         2280             432
4              Pacific            California       109008           20964
5             Mountain              Colorado         7607            3250
6          New England           Connecticut         2280            1696
7       South Atlantic              Delaware          708             374
8       South Atlantic  District of Columbia         3770            3134
9       South Atlantic               Florida        21443            9587
10      South Atlantic               Georgia         6943            2556
11             Pacific                Hawaii         4131            2399
12            Mountain                 Idaho         1297             715
13  East North Central              Illinois         6752            3891
14  East North Central               Indiana         3776            1482
15  West North Central                  Iowa         1711            1038
16  West North Central                Kansas         1443             773
17  East South Central              Kentucky         2735             953
18  West South Central             Louisiana         2540             519
19         New England                 Maine         1450            1066
20      South Atlantic              Maryland         4914            2230
21         New England         Massachusetts         6811           13257
22  East North Central              Michigan         5209            3142
23  West North Central             Minnesota         3993            3250
24  East South Central           Mississippi         1024             328
25  West North Central              Missouri         3776            2107
26            Mountain               Montana          983             422
27  West North Central              Nebraska         1745             676
28            Mountain                Nevada         7058             486
29         New England         New Hampshire          835             615
30        Mid-Atlantic            New Jersey         6048            3350
31            Mountain            New Mexico         1949             602
32        Mid-Atlantic              New York        39827           52070
33      South Atlantic        North Carolina         6451            2817
34  West North Central          North Dakota          467              75
35  East North Central                  Ohio         6929            3320
36  West South Central              Oklahoma         2823            1048
37             Pacific                Oregon        11139            3337
38        Mid-Atlantic          Pennsylvania         8163            5349
39         New England          Rhode Island          747             354
40      South Atlantic        South Carolina         3082             851
41  West North Central          South Dakota          836             323
42  East South Central             Tennessee         6139            1744
43  West South Central                 Texas        19199            6111
44            Mountain                  Utah         1904             972
45         New England               Vermont          780             511
46      South Atlantic              Virginia         3928            2047
47             Pacific            Washington        16424            5880
48      South Atlantic         West Virginia         1021             222
49  East North Central             Wisconsin         2740            2167
50            Mountain               Wyoming          434             205

    state_pop
0     4887681
1      735139
2     7158024
3     3009733
4    39461588
5     5691287
6     3571520
7      965479
8      701547
9    21244317
10   10511131
11    1420593
12    1750536
13   12723071
14    6695497
15    3148618
16    2911359
17    4461153
18    4659690
19    1339057
20    6035802
21    6882635
22    9984072
23    5606249
24    2981020
25    6121623
26    1060665
27    1925614
28    3027341
29    1353465
30    8886025
31    2092741
32   19530351
33   10381615
34     758080
35   11676341
36    3940235
37    4181886
38   12800922
39    1058287
40    5084156
41     878698
42    6771631
43   28628666
44    3153550
45     624358
46    8501286
47    7523869
48    1804291
49    5807406
50     577601

1. Sort homelessness by the number of homeless family_members in descending order, and save this as homelessness_fam.
2. Print the head of the sorted DataFrame.

In [ ]:
# Sort homelessness by descending family members
homelessness_fam = data.sort_values('family_members',ascending=False)

# Print the top few rows
print(homelessness_fam.head())

1. Sort homelessness first by region (ascending), and then by number of family members (descending). Save this as homelessness_reg_fam.
2. Print the head of the sorted DataFrame.

In [21]:
# Sort homelessness by region, then descending family members
homelessness_reg_fam = data.sort_values(['region','family_members'],ascending=[True, False])

# Print the top few rows
print(homelessness_reg_fam.head())

                region      state  individuals  family_members  state_pop
13  East North Central   Illinois         6752            3891   12723071
35  East North Central       Ohio         6929            3320   11676341
22  East North Central   Michigan         5209            3142    9984072
49  East North Central  Wisconsin         2740            2167    5807406
14  East North Central    Indiana         3776            1482    6695497

1. Create a DataFrame called individuals that contains only the individuals column of homelessness.
2. Print the head of the result.

In [22]:
# Select the individuals column
individuals = data['individuals']

# Print the head of the result
print(individuals.head())

0       2570
1       1434
2       7259
3       2280
4     109008
5       7607
6       2280
7        708
8       3770
9      21443
10      6943
11      4131
12      1297
13      6752
14      3776
15      1711
16      1443
17      2735
18      2540
19      1450
20      4914
21      6811
22      5209
23      3993
24      1024
25      3776
26       983
27      1745
28      7058
29       835
30      6048
31      1949
32     39827
33      6451
34       467
35      6929
36      2823
37     11139
38      8163
39       747
40      3082
41       836
42      6139
43     19199
44      1904
45       780
46      3928
47     16424
48      1021
49      2740
50       434
Name: individuals, dtype: int64

1. Create a DataFrame called state_fam that contains only the state and family_members columns of homelessness, in that order.
2. Print the head of the result.

In [24]:
# Select the state and family_members columns
state_fam = data[['state','family_members']]

# Print the head of the result
print(state_fam)

                   state  family_members
0                Alabama             864
1                 Alaska             582
2                Arizona            2606
3               Arkansas             432
4             California           20964
5               Colorado            3250
6            Connecticut            1696
7               Delaware             374
8   District of Columbia            3134
9                Florida            9587
10               Georgia            2556
11                Hawaii            2399
12                 Idaho             715
13              Illinois            3891
14               Indiana            1482
15                  Iowa            1038
16                Kansas             773
17              Kentucky             953
18             Louisiana             519
19                 Maine            1066
20              Maryland            2230
21         Massachusetts           13257
22              Michigan            3142
23             Minnesota            3250
24           Mississippi             328
25              Missouri            2107
26               Montana             422
27              Nebraska             676
28                Nevada             486
29         New Hampshire             615
30            New Jersey            3350
31            New Mexico             602
32              New York           52070
33        North Carolina            2817
34          North Dakota              75
35                  Ohio            3320
36              Oklahoma            1048
37                Oregon            3337
38          Pennsylvania            5349
39          Rhode Island             354
40        South Carolina             851
41          South Dakota             323
42             Tennessee            1744
43                 Texas            6111
44                  Utah             972
45               Vermont             511
46              Virginia            2047
47            Washington            5880
48         West Virginia             222
49             Wisconsin            2167
50               Wyoming             205

1. Create a DataFrame called ind_state that contains the individuals and state columns of homelessness, in that order.
2. Print the head of the result.

In [ ]:
# Select only the individuals and state columns, in that order
ind_state = data[['individual','state']]

# Print the head of the result
print(ind_state)

Filter homelessness for cases where the number of individuals is greater than ten thousand, assigning to ind_gt_10k. View the printed result.

In [27]:
# Filter for rows where individuals is greater than 10000
ind_gt_10k = data[data['individuals']>10000]

# See the result
print(ind_gt_10k)

                region       state  individuals  family_members  state_pop
4              Pacific  California       109008           20964   39461588
9       South Atlantic     Florida        21443            9587   21244317
32        Mid-Atlantic    New York        39827           52070   19530351
37             Pacific      Oregon        11139            3337    4181886
43  West South Central       Texas        19199            6111   28628666
47             Pacific  Washington        16424            5880    7523869

Filter homelessness for cases where the USA Census region is "Mountain", assigning to mountain_reg. View the printed result.

In [ ]:
# Filter for rows where region is Mountain
mountain_reg = data[data['region'] == "Mountain"]

# See the result
print(mountain_reg)

Filter homelessness for cases where the number of family_members is less than one thousand and the region is "Pacific", assigning to fam_lt_1k_pac. View the printed result.

In [29]:
# Filter for rows where family_members is less than 1000 
# and region is Pacific
fam_lt_1k_pac = data[(data['family_members'] < 1000 and data['region'] == "Pacific")]

# See the result
print(fam_lt_1k_pac)

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

Filter homelessness for cases where the USA census region is "South Atlantic" or it is "Mid-Atlantic", assigning to south_mid_atlantic. View the printed result

In [ ]:
# Subset for rows in South Atlantic or Mid-Atlantic regions
south_mid_atlantic = ____

# See the result
print(south_mid_atlantic)

Filter homelessness for cases where the USA census state is in the list of Mojave states, canu, assigning to mojave_homelessness. View the printed result.

In [ ]:
# The Mojave Desert states
canu = ["California", "Arizona", "Nevada", "Utah"]

# Filter for rows in the Mojave Desert states
mojave_homelessness = ____

# See the result
print(mojave_homelessness)

1. Add a new column to homelessness, named total, containing the sum of the individuals and family_members columns.
2. Add another column to homelessness, named p_individuals, containing the proportion of homeless people in each state who are individuals.

In [ ]:
# Add total col as sum of individuals and family_members
____

# Add p_individuals col as proportion of individuals
____

# See the result
print(homelessness)

1. Add a column to homelessness, indiv_per_10k, containing the number of homeless individuals per ten thousand people in each state.
2. Subset rows where indiv_per_10k is higher than 20, assigning to high_homelessness.
3. Sort high_homelessness by descending indiv_per_10k, assigning to high_homelessness_srt.
4. Select only the state and indiv_per_10k columns of high_homelessness_srt and save as result. Look at the result.

In [ ]:
# Create indiv_per_10k col as homeless individuals per 10k state pop
homelessness["indiv_per_10k"] = 10000 * ____ / ____ 

# Subset rows for indiv_per_10k greater than 20
high_homelessness = ____

# Sort high_homelessness by descending indiv_per_10k
high_homelessness_srt = ____

# From high_homelessness_srt, select the state and indiv_per_10k cols
result = ____

# See the result
print(result)